<header >
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <div><a href="" class="navbar-brand">Gowrinath Todos</a></div>
                <ul class="navbar-nav">
                    <li>
                        <a *ngIf="this.auth.isUserLoggedin()" routerLink="/welcome/gowri" class="nav-link">Home</a>
                    </li>
                    <li>
                        <a *ngIf="this.auth.isUserLoggedin()" routerLink="/todos" class="nav-link">Todo's</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-collapse justify-content-end">
                    <li>
                        <a *ngIf="!this.auth.isUserLoggedin()" routerLink="/login" class="nav-link">Log in</a>
                    </li>
                    <li>
                        <a *ngIf="this.auth.isUserLoggedin()" routerLink="/logout" class="nav-link">Log out</a>
                    </li>
                </ul>
        </div>
        </nav>
</header>